/*
    * Global
*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

    body {
        font-family: 'Roboto';
        background: #eee;
    }

        .web-page {
            height: 100%;
            width: 100%;
        }



/*
    * Navbar
*/

.navbar {
    background: #28282b;
    height: 100px;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 33px 9%;
    border-bottom: 2px solid grey;
}

    #logo {
        font-size: 30px;
        color: #fff;
        font-weight: 600;
    }

    .navitems {
        display: flex;
    }

        .navitems a {
            color: #fff;
            margin-left: 60px;
            font-size: 17.5px;
            font-weight: 600;
        }

            .navitems a:hover {
                cursor: pointer;
            }

    #menu-bars {
        display: none;
        background: transparent;
        border: none;
    }

    #menu-x {
        display: none;
        background: transparent;
        border: none;
    }

    .navmenu {
        display: none;
    }

@media (max-width: 1024px) {
    
    .navitems {
        display: none;
    }

    #menu-bars {
        display: block;
        color: #fff;
        font-size: 20px;
    }

        .menu-bars:hover {
            cursor: pointer;
        }

    #menu-x {
        display: none;
        color: #fff;
        font-size: 20px;
    }

        #menu-x:hover {
            cursor: pointer;
        }

    .navmenu {
        height: 287.5px;
        width: 50%;
        margin-top: 100px;
        margin-left: 50%;
        text-align: center;
        background: rgb(211, 211, 211, 90%);
        border-bottom-left-radius: 20px;
        position: fixed;
    }

        .navmenu ul {
            margin-top: 17.5px;
        }

            .navmenu button {
                width: 150px;
                height: 40px;
                border-radius: 5px;
                border: 1px solid lightgrey;
                box-shadow: 1px 1px 2px grey;
                margin-top: 10px;
                color: grey;
                font-size: 17.5px;
                font-weight: 600px;
                text-align: left;
            }

                .navmenu i {
                    border-right: 1px solid lightgrey;
                    padding-right: 10px;
                    margin-left: 10px;
                }

                .navmenu a {
                    padding-left: 10px;
                }

                .navmenu p {
                    font-size: 17.5px;
                    margin-top: 10px;
                    color: grey;
                }
}

/*
    * Footer
*/

footer {
    background: #28282b;
    height: 75px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    padding: 25px;
    border-top: 2px solid grey;
    border-bottom: 2px solid grey;
}

    footer p {
        color: #fff;
        font-size: 18px;
        justify-content: center;
    }